force-app/main/default/flows/ASPN_Staging_OppEventLogic_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Opportunity_Line_Item_Record_Error_Log</name>
        <label>Create Opportunity Line Item Record Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>ASPN_Staging_OppEventLogic_Subflow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Creating Opportunity Line Item Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>While attempting &apos;ASPN_Staging_OppEventLogic_Subflow&apos; from OrgSync_ASPN_Staging__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>OMCT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Opportunity_Record_Error_Log</name>
        <label>Create Opportunity Record Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>ASPN_Staging_OppEventLogic_Subflow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Creating Opportunity Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>While attempting &apos;ASPN_Staging_OppEventLogic_Subflow&apos; from OrgSync_ASPN_Staging__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldThrowFaultMessageException</name>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>OMCT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>topics</name>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opportunity_Id_to_Collection</name>
        <label>Add Opportunity Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>openOpportunityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Build_opportunity_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_opportunity_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getLatestOpportunity</name>
        <label>getLatestOpportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LatestOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Build_opportunity_IDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isLateshOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Id_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Branches logic based on whether an open Opportunity was found for the patient.</description>
        <name>Does_Opportunity_Exist</name>
        <label>Does Opportunity Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Build_opportunity_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_NCS_Opportunity</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>fetchLatestOpportunity</name>
        <label>fetchLatestOpportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Opportunity_Id_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LatestSet</defaultConnectorLabel>
        <rules>
            <name>LatestNotSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLateshOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLatestOpportunity</targetReference>
            </connector>
            <label>LatestNotSet</label>
        </rules>
    </decisions>
    <decisions>
        <description>Matching Product Present?</description>
        <name>Matching_Product_Present</name>
        <label>Matching Product Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_ASPN_Staging</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_OpportunityLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceBook_Entry_Present1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>PriceBook Entry Present?</description>
        <name>PriceBook_Entry_Present</name>
        <label>PriceBook Entry Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricebook_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_OLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>PriceBook Entry Present?</description>
        <name>PriceBook_Entry_Present1</name>
        <label>PriceBook Entry Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_ASPN_Staging</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricebook_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_OpportunityLineItem1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow containing ASPN Staging Opportunity and Event logic. Accepts the triggering ASPN Staging record as input. Checks for existing open Opportunities for the Patient (via Legacy ID). If none exist, creates a new Opportunity and Line Item. If an Opportunity exists but lacks the product, adds the OLI. Updates the ASPN Staging record with Patient reference. (Ref: Jira NGOMCT-1358)</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to create Opportunity Name using logic Benefits Investigation - MM/DD/YYYY</description>
        <name>fx_OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Label.Opportunity_Name_Prefix} &amp; &quot;-&quot; &amp; RIGHT(&quot;0&quot; &amp; TEXT(MONTH(TODAY())), 2) &amp; &quot;/&quot; &amp; RIGHT(&quot;0&quot; &amp; TEXT(DAY(TODAY())), 2) &amp; &quot;/&quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <description>Today + 30days</description>
        <name>fx_TodayPlus30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <interviewLabel>ASPN Staging Opp Event Logic Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASPN Staging Opp Event Logic Subflow</label>
    <loops>
        <description>Build opportunity IDs</description>
        <name>Build_opportunity_IDs</name>
        <label>Build opportunity IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Open_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>fetchLatestOpportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Matching_OpportunityLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a brand-new Opportunity for the Patient because no open one was found.</description>
        <name>Create_NCS_Opportunity</name>
        <label>Create NCS Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PriceBook_Entry_Present</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Opportunity_Record_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Patient_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fx_TodayPlus30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fx_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetNCSOpportunityRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Adds the Product Line Item to the newly created Opportunity.</description>
        <name>Create_New_OLI</name>
        <label>Create New OpportunityLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_ASPN_Staging</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Opportunity_Line_Item_Record_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_NCS_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_ASPN_Matching_Product_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Adds the Product Line Item Under existing Opportunity</description>
        <name>Create_New_OpportunityLineItem1</name>
        <label>Create New OpportunityLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_ASPN_Staging</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Opportunity_Line_Item_Record_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>LatestOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_ASPN_Matching_Product_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetch Product2.Product_NDC__c from org which matches OrgSync_ProductNDC__c from OrgSync_ASPN_Staging__c</description>
        <name>Get_ASPN_Matching_Product_Id</name>
        <label>Get ASPN Matching Product Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_NDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Staging_Record.OrgSync_ProductNDC__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look for an existing Line Item on the Opportunities that matches our Staging record product.</description>
        <name>Get_Matching_OpportunityLineItem</name>
        <label>Get Matching OpportunityLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Product_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_NDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Staging_Record.OrgSync_ProductNDC__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>openOpportunityIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opportunity</name>
        <label>Get_Open_Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ASPN_Matching_Product_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNCSOpportunityRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Account</name>
        <label>Get_Patient_Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNCSOpportunityRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Legacy_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Staging_Record.OrgSync_Legacy_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Patient record Type</description>
        <name>Get_Patient_Record_Type</name>
        <label>Get_Patient_Record_Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Patient_Record_Type_Label</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds the correct Pricebook Entry for the product. This is required to create an Opportunity line item</description>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Opportunity_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ASPN_Matching_Product_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Price_Book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Primary Price Book. This is used to get Price Book Entry in coming steps</description>
        <name>Get_Primary_Price_Book</name>
        <label>Get Primary Price Book</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Primary_Price_Book_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch recordType name for NCS Opportunity.</description>
        <name>GetNCSOpportunityRecordType</name>
        <label>GetNCSOpportunityRecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.NCS_Opportunity_Record_Type_Developer_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Account id on ASPN Staging record</description>
        <name>Update_ASPN_Staging</name>
        <label>Update ASPN Staging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Staging_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrgSync_Patient__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Patient_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrgSync_Patient__c</field>
            <value>
                <elementReference>Get_Patient_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrgSync_ASPN_Staging__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The ASPN Staging record that triggered the flow (passed from parent)</description>
        <name>Input_Staging_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrgSync_ASPN_Staging__c</objectType>
    </variables>
    <variables>
        <name>isLateshOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LatestOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MatchingOpportunityLineItemFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>All Open Opportunity Id&apos;s</description>
        <name>openOpportunityIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
