force-app/main/default/flows/Asset_Before_Insert_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Sales_Credit_Date</name>
        <label>Assign Sales Credit Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Credit_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RegistrationDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Patient_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Credit_Territory</name>
        <label>Assign Sales Credit Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Credit_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territories.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Territory2_Id</name>
        <label>Assign Territory2 Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Territory2Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_ObjectTerritory2Association.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_ObjectTerritory2Association</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Patient_Record</name>
        <label>Check if Patient Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Patient_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ObjectTerritory2Association</targetReference>
            </connector>
            <label>Has Patient Associated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ObjectTerritory2Association</name>
        <label>Check ObjectTerritory2Association</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territories.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Credit_Territory</targetReference>
            </connector>
            <label>Yes Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Registration_Date</name>
        <label>Check Registration Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Registration_Date_is_Populated_Changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RegistrationDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RegistrationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Credit_Date</targetReference>
            </connector>
            <label>Registration Date is Populated/Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>The formula check if the RegistrationDate on the record is updated</description>
        <name>IsChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.RegistrationDate__c})</expression>
    </formulas>
    <formulas>
        <description>This Formula will check if the record is created and new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Asset Before Inset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Before Insert Before Update</label>
    <loops>
        <name>For_Each_ObjectTerritory2Association</name>
        <label>For Each ObjectTerritory2Association</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_ObjectTerritory2Association</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Territory2_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Territories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ObjectTerritory2Association</name>
        <label>Get ObjectTerritory2Association</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_ObjectTerritory2Association</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territories</name>
        <label>Get Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ObjectTerritory2Association</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Territory2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Territory_Alias__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Registration_Date</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Territory2Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
