force-app/main/default/flows/Care_Observation_PRO_Form_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_CCR_Related_Contact_s_Account</name>
        <label>Assign CCR Related Contact&apos;s Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>physician</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_s_Contact_Contact_Relationship_Record.RelatedContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Observation_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Device_Id</name>
        <label>Assign Device Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DeviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_s_Asset_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Patient_Is_Starting_On_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Shipment_Date</name>
        <label>Assign Initial Shipment Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>initialShipDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_s_Asset_Details.ShipmentDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_s_Active_Member_Plan_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Care_Observation_Details</name>
        <label>Update Care Observation Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initial_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialShipDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Insurance_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insuranceCompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Patient_is_Starting_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Physician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>physician</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>assetControllerRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Controller</stringValue>
        </value>
    </constants>
    <constants>
        <name>patientProviderCCR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient-Provider-CCR</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Asset_Record_Status</name>
        <label>Check Asset Record &amp; Status ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Patient_s_Active_Member_Plan_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_s_Asset_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Patient_s_Asset_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Patient_s_Asset_Details.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Device_Id</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>Registered_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_s_Asset_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Shipment_Date</targetReference>
            </connector>
            <label>Registered &amp; Shipped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Patient_s_Contact_Contact_Relationship_Record</name>
        <label>Check Patient&apos;s Contact Contact Relationship Record ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Care_Observation_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_s_Contact_Contact_Relationship_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Patient_s_Contact_Contact_Relationship_Record.RelatedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CCR_Related_Contact_s_Account</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Bypass</name>
        <label>Flow Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bypassed</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <description>Before-save record-triggered flow that updates Care Observation object fields based on defined conditions prior to database commit.</description>
    <environments>Default</environments>
    <interviewLabel>Care Observation PRO Form Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Care Observation PRO Form Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Record_Type</name>
        <label>Get Asset Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_s_Asset_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetControllerRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Party_Role_Relation_Record</name>
        <label>Get Party Role Relation Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_s_Contact_Contact_Relationship_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Care_Observation_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientProviderCCR</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_s_Active_Member_Plan_Record</name>
        <label>Get Patient&apos;s Active Member Plan Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Party_Role_Relation_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Party_Role_Relation_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ObservedSubjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>MemberPlan</object>
        <outputAssignments>
            <assignToReference>insuranceCompanyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_s_Asset_Details</name>
        <label>Get Patient&apos;s Asset Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Asset_Record_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Patient_s_Active_Member_Plan_Record</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ObservedSubjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_s_Contact_Contact_Relationship_Record</name>
        <label>Get Patient&apos;s Contact Contact Relationship Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Patient_s_Contact_Contact_Relationship_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Care_Observation_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyRoleRelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Party_Role_Relation_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ObservedSubject.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactContactRelation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Patient_Is_Starting_On_Detail</name>
        <label>Get Product Patient Is Starting On Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_Shipment_Date</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Initial_Shipment_Date</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_s_Asset_Details.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>productName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Bypass</targetReference>
        </connector>
        <object>CareObservation</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>initialShipDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insuranceCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>physician</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
