force-app/main/default/flows/CheckProviderRelatedTerritories.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Practice_Ids</name>
        <label>Collect Practice Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PracticeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_HPF.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_HPF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Territory_Ids</name>
        <label>Collect Territory Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TerritoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Territory.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Territory</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CheckProviderRelatedTerritories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckProviderRelatedTerritories</label>
    <loops>
        <name>For_Each_HPF</name>
        <label>For Each HPF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_HPF_For_Provider</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Practice_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Territories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Territory</name>
        <label>For Each Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Territory_Ids</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HPF_For_Provider</name>
        <label>Get HPF For Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_HPF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territories</name>
        <label>Get Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>In</operator>
            <value>
                <elementReference>PracticeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HPF_For_Provider</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PracticeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PractitionerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerritoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
