force-app/main/default/flows/ContactPointType_Before_Insert_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Capture_Source_to_Phone</name>
        <label>Assign Capture Source to Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CaptureSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Transactional_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Capture_Source_to_Web</name>
        <label>Assign Capture Source to Web</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CaptureSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Transactional_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_based_on_DUP</name>
        <label>Assign Name based on DUP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DataUsePurpose.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patient_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Capture_Source_to_Phone</name>
        <label>Assign Capture Source to Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CaptureSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Transactional_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Capture_Source_to_Web</name>
        <label>Assign Capture Source to Web</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CaptureSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Transactional_Record</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Stop_Duplicate</name>
        <label>Stop Duplicate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>A Transactional Consent record with this name already exists for this Individual.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_DUP_is_not_blank</name>
        <label>Check if DUP is not blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DataUsePurpose.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name_based_on_DUP</targetReference>
            </connector>
            <label>Not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Patient_Account_found</name>
        <label>Check if Patient Account found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Patient_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Lead</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Transactional_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request a Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Patient_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Capture_Source_to_Web</targetReference>
            </connector>
            <label>Web</label>
        </rules>
        <rules>
            <name>Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone Intake</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Patient_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Capture_Source_to_Phone</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Transactional_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Patient_Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request a Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Capture_Source_to_Web</targetReference>
            </connector>
            <label>Web</label>
        </rules>
        <rules>
            <name>Copy_1_of_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Patient_Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Capture_Source_to_Phone</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Found</name>
        <label>Duplicate Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Consent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Duplicate</targetReference>
            </connector>
            <label>Yes, Duplicate Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transactional_Record</name>
        <label>Is Transactional Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Consent_Name_Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Consent_Name_SMS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Consent_Name_Marketing_Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Consent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>NGASIM-2188</description>
    <environments>Default</environments>
    <interviewLabel>ContactPointType Before Insert Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactPointTypeConsent Before Insert Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Patient_Lead</name>
        <label>Get Patient Lead based on Individual Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Lead_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Consent</name>
        <label>Get Existing Consent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Account</name>
        <label>Get Patient Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Patient_Account_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonIndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Lead</name>
        <label>Get Patient Lead based on parent Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_DUP_is_not_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ContactPointTypeConsent</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
