force-app/main/default/flows/Contract_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Contract_Start_Date</name>
        <label>Update Contract Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CompanySignedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateContractEndDatePractice</name>
        <label>Update Contract End Date Practice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractEndDatePractice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateContractEndDateTrainer</name>
        <label>Update Contract End Date Trainer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainerEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bypass_Flow</name>
        <label>Bypass Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Record_Type</name>
        <label>Check Account Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContractEndDateTrainer</targetReference>
            </connector>
            <label>Trainer</label>
        </rules>
        <rules>
            <name>Practice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContractEndDatePractice</targetReference>
            </connector>
            <label>Practice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_sign_date</name>
        <label>Check sign date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Sign_date_and_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerSignedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerSignedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CustomerSignedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanySignedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanySignedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CompanySignedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Start_Date</targetReference>
            </connector>
            <label>Check Sign date and Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCreated</name>
        <label>isCreated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_sign_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>updated</defaultConnectorLabel>
        <rules>
            <name>created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>created</label>
        </rules>
    </decisions>
    <description>NGOMCT-936:- Update Contract end dates and status</description>
    <environments>Default</environments>
    <formulas>
        <name>ContractEndDatePractice</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(YEAR({!$Record.CompanySignedDate}), MONTH({!$Record.CompanySignedDate}), 1), 25) - 1</expression>
    </formulas>
    <formulas>
        <name>TrainerEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 24)</expression>
    </formulas>
    <interviewLabel>Contract : After Save - Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract : Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flow</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
