force-app/main/default/flows/Contact_Contact_Relationship_After_Insert_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_3_of_Log_error</name>
        <label>Log error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact_Contact_Relationship_AfterInsert_AfterUpdate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error on Updating contact contact relationship</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_error</name>
        <label>Log error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact_Contact_Relationship_AfterInsert_AfterUpdate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error on Updating contact contact relationship</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Bypassflow</description>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_for_Valid_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypassflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassflow</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision block to evaluate the record is valid and it is good to update the child records</description>
        <name>Check_for_Valid_Records</name>
        <label>Check for Valid Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Created_and_Valid</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartyRoleRelation.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Patient_Provider_Party_Role_Relationship</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartyRoleRelation.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Patient_LegalGuardian_Party_Role_Relationship</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Patient_Account_Record_Type_Developer_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedContact.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Provider_Account_Record_Type_Developer_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedContact.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Patient_Delegate_Account_Record_Type_Developer_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Is_Primary_To_True</targetReference>
            </connector>
            <label>Is Created and Valid</label>
        </rules>
        <rules>
            <name>Is_Updated_and_Valid</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>IsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartyRoleRelation.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Patient_LegalGuardian_Party_Role_Relationship</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartyRoleRelation.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Patient_Provider_Party_Role_Relationship</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Contact_Contact_Relationship_Update</targetReference>
            </connector>
            <label>Is Updated and Valid</label>
        </rules>
    </decisions>
    <description>The flow runs to update the other contact contact records isprimary to false,  associated with the patient and (provider or Caregiver)</description>
    <environments>Default</environments>
    <formulas>
        <description>The formula check if the record is updated</description>
        <name>IsChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Is_Primary__c})</expression>
    </formulas>
    <formulas>
        <description>This Formula will check if the record is created and new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Contact Contact Relationship After Insert After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Contact Relationship After Insert After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the contact contact relationship records</description>
        <name>Update_the_Contact_Contact_Relationship_Update</name>
        <label>Update the Contact Contact Relationship Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Copy_3_of_Log_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.RelatedContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PartyRoleRelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartyRoleRelation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContactContactRelation</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the record isPrimary to True</description>
        <name>Update_the_Is_Primary_To_True</name>
        <label>Update the Is Primary To True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_the_Contact_Contact_Relationship_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Is_Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>ContactContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PartyRoleRelationshipsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>Patient_LegalGuardian_Party_Role_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <name>Patient_Provider_Party_Role_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartyRoleRelation</objectType>
    </variables>
    <variables>
        <description>This variable collect the contact contact relationship that need to be updates in the transaction</description>
        <name>UpdateContactContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactContactRelation</objectType>
    </variables>
</Flow>
