force-app/main/default/flows/Generate_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>congaTemplateIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Conga_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilteredLangRecord.Template_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Portal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CC_Doctype</name>
        <label>Assign CC Doctype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRecordInitial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Document_Template_CC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPT_Doctype</name>
        <label>Assign CPT Doctype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRecordInitial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Document_Template_CPT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CongaQueryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Training_Document_Template_CPT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Document_Download_Portal</name>
        <label>assign Document Download Portal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>documentDownloadPortal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Filtered_Lang_Templ</name>
        <label>Assign Filtered Lang Templ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredLangRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Language_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Language_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filtered_Lang_TemplDownload</name>
        <label>Assign Filtered Lang Templ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredLangRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Language_TemplateDownload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Language_TemplateDownload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filtered_Template</name>
        <label>Assign Filtered Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredTrainingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Training</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Doctype</name>
        <label>Assign Other Doctype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRecordInitial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Document_Template_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_RecordsBoth</name>
        <label>Assign Training Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_PrePod_and_Insuline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_Recordsfollowup</name>
        <label>Assign Training Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Follow_Up_Training</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_RecordsInsline</name>
        <label>Assign Training Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Insuline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Training_RecordsPrePod</name>
        <label>Assign Training Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TrainingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_PrePod_Training</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearAssignments</name>
        <label>ClearAssignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredLangRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilteredTrainingRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingRecord</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TrainingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Training_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearAssignmentsDownloadLWC</name>
        <label>ClearAssignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredLangRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilteredTrainingRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingRecord</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TrainingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Training_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Language_Assign</name>
        <label>Count Language Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LanguageCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultLanguageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Language_Count.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Language_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Language</name>
        <label>Default Language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DefaultLanguageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnglishLanguageId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Template_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_to_English</name>
        <label>Default to English</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnglishLanguageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Language_Count.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Language_Assign</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoConfirmationMessage</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesConfirmationBtn</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Follow_Up_Training</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Follow-Up Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Follow_Up_Training</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingRecordInitial</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Follow_Up_Training.Follow_Up_Training__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Training_Recordsfollowup</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Insuline</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Insuline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Insuline</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingRecordInitial</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Insuline.Insulin_Start_Training__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Training_RecordsInsline</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Language_Template</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Language Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Language_TemplateDownload</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Language_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Language_TemplateDownload.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Select_Document_Language</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Language_Template</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Language_TemplateDownload</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Language Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Language_TemplateDownload</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Language_Record</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Language_TemplateDownload.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Select_Document_LanguageDownload</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Language_TemplateDownload</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_PrePod_and_Insuline</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter PrePod and Insuline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Follow_Up_Training</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingRecordInitial</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Follow_Up_Training.Pre_Pod_and_Insulin_Start_Training__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Training_RecordsBoth</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_PrePod_Training</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter PrePod Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_PrePod_Training</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingRecordInitial</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_PrePod_Training.Pre_Pod_Training__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Training_RecordsPrePod</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Training</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Training</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>TrainingRecord</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Training.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Select_Document_Type_and_Delivery_Method</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Training</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Capture_English_Language_Id</name>
        <label>Capture English Language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Count_Language_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_English_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Language_Count.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_to_English</targetReference>
            </connector>
            <label>Is English Language</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the running user is logged in through the Experience Cloud portal.</description>
        <name>Check_if_Portal</name>
        <label>Check if Portal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Conga_Document_Generator_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>partnerServerURL_520</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Document_Download_Portal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Language_Count</name>
        <label>Check Language Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Default_Language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SingleLanguage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LanguageCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Template_Type</targetReference>
            </connector>
            <label>SingleLanguage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Template_Type</name>
        <label>Check Template Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Download</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilteredTrainingRecord.Template_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Download</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Language_Screen_download</targetReference>
            </connector>
            <label>Download</label>
        </rules>
        <rules>
            <name>eSignature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilteredTrainingRecord.Template_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eSignature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Language_Screen</targetReference>
            </connector>
            <label>eSignature</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Training_Record</name>
        <label>Check Training Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NoDocScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainingRecord</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Document_Screen</targetReference>
            </connector>
            <label>RecordsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Training_Type</name>
        <label>Check Training Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Training_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrePod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Records.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Pod Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_PrePod_Training</targetReference>
            </connector>
            <label>PrePod</label>
        </rules>
        <rules>
            <name>Insuline_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Records.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insulin Start Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Insuline</targetReference>
            </connector>
            <label>Insuline Start</label>
        </rules>
        <rules>
            <name>PrePod_and_Insuline_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Records.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Pod + Insulin Start Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_PrePod_and_Insuline</targetReference>
            </connector>
            <label>PrePod and Insuline Start</label>
        </rules>
        <rules>
            <name>Follow_Up_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Records.Training_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow-Up Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Follow_Up_Training</targetReference>
            </connector>
            <label>Follow-Up Training</label>
        </rules>
    </decisions>
    <decisions>
        <name>Educator_Type_Check</name>
        <label>Educator Type Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Document_Template_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>CPT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Records.Educator_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Document_Template_CPT</targetReference>
            </connector>
            <label>CPT</label>
        </rules>
        <rules>
            <name>CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Records.Educator_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Document_Template_CC</targetReference>
            </connector>
            <label>CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Query_Allowed</name>
        <label>Is Query Allowed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Language_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilteredTrainingRecord.Is_Query_Allowed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conga_Query</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome_Decision</name>
        <label>Outcome Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_download_lwc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DownloadRadioBtnLWC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearAssignmentsDownloadLWC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome_Decision_esign</name>
        <label>Outcome Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eSignRadioBtns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearAssignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow that guides users to quickly and accurately generate, select, and/or send the correct documents required for Health Care Professionals (HCPs).</description>
    <dynamicChoiceSets>
        <name>DocType</name>
        <collectionReference>TrainingRecord</collectionReference>
        <dataType>String</dataType>
        <displayField>Document_Type__c</displayField>
        <object>Training_Template_Selector__mdt</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LanguageType</name>
        <collectionReference>Get_Language_Record</collectionReference>
        <dataType>String</dataType>
        <displayField>Language__c</displayField>
        <object>Training_Document_Template_Language__mdt</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CC_Type_Filter</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Training_Records.Educator_Type__c}, &apos;CC&apos;)</expression>
    </formulas>
    <formulas>
        <name>CPT_Type_Filter</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Training_Records.Educator_Type__c}, &apos;CPT&apos;)</expression>
    </formulas>
    <formulas>
        <name>Other_Type_Filter</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
  OR(
    ISPICKVAL({!Get_Training_Records.Educator_Type__c}, &apos;CPT&apos;),
    ISPICKVAL({!Get_Training_Records.Educator_Type__c}, &apos;CC&apos;)
  )
)</expression>
    </formulas>
    <formulas>
        <description>Stores partner server URL.</description>
        <name>partnerServerURL_370</name>
        <dataType>String</dataType>
        <expression>{!$Api.Partner_Server_URL_370}</expression>
    </formulas>
    <formulas>
        <description>Stores partner server URL.</description>
        <name>partnerServerURL_520</name>
        <dataType>String</dataType>
        <expression>{!$Api.Partner_Server_URL_520}</expression>
    </formulas>
    <formulas>
        <name>Pre_Pod_Saline_Training_Filter</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISPICKVAL({!Get_Training_Records.Training_Type__c}, &apos;Pre-Pod Training&apos;),ISPICKVAL({!Get_Training_Records.Training_Type__c}, &apos;Insulin Start Training&apos;),ISPICKVAL({!Get_Training_Records.Training_Type__c}, &apos;Pre-Pod + Insulin Start Training&apos;))</expression>
    </formulas>
    <formulas>
        <name>Pre_Pod_Training_Filter</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Training_Records.Training_Type__c}, &apos;Pre-Pod Training&apos;)</expression>
    </formulas>
    <formulas>
        <name>Saline_Insuline_Training_Filter</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Training_Records.Training_Type__c}, &apos;Insulin Start Training&apos;)</expression>
    </formulas>
    <interviewLabel>Generate Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Document</label>
    <loops>
        <name>Loop_Language_Count</name>
        <label>Loop Language Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Language_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Capture_English_Language_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Language_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Language_Template</name>
        <label>Loop Over Language Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Language_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Filtered_Lang_Templ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Training_Consent_Form</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Language_TemplateDownload</name>
        <label>Loop Over Language Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Language_TemplateDownload</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Filtered_Lang_TemplDownload</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Conga_Templates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Training</name>
        <label>Loop Over Training</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Training</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Filtered_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Query_Allowed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Conga_Query</name>
        <label>Get Conga Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Language_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APXTConga4__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilteredTrainingRecord.Conga_Query_Name__c</elementReference>
            </value>
        </filters>
        <object>APXTConga4__Conga_Merge_Query__c</object>
        <outputAssignments>
            <assignToReference>queryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Conga_Templates</name>
        <label>Get Conga Templates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CongaTemplateErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APXTConga4__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilteredLangRecord.Template_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXTConga4__Conga_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Language_Record</name>
        <label>Get Language Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Language_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Document_Template_Selector__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Document_Type_and_Delivery_Method</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Document_Template_Language__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Document_Template_CC</name>
        <label>Get Training Document Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CC_Doctype</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Records.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Educator_Type_CC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Template_Selector__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Document_Template_CPT</name>
        <label>Get Training Document Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CPT_Doctype</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Records.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Educator_Type_CPT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Template_Selector__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Document_Template_Other</name>
        <label>Get Training Document Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Other_Doctype</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Records.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Educator_Type_Other__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Template_Selector__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Records</name>
        <label>Get Training Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Educator_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>This screen launches the LWC component responsible for document generation.</description>
        <name>Conga_Document_Generator_Screen</name>
        <label>Conga Document Generator Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outcome_Decision</targetReference>
        </connector>
        <fields>
            <name>CongaLightningComponent</name>
            <extensionName>c:congaDocumentGeneratorCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>congaTemplateIdList</name>
                <value>
                    <elementReference>congaTemplateIdList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partnerServerURL</name>
                <value>
                    <elementReference>partnerServerURL_520</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outputMessage</name>
                <value>
                    <stringValue>Captures the message.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filename</name>
                <value>
                    <elementReference>Get_Conga_Templates.APXTConga4__Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>congaQueryId</name>
                <value>
                    <elementReference>queryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>congaQueryAlias</name>
                <value>
                    <stringValue>ACC</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DownloadDisplayTextLWC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(40, 167, 69); font-size: 16px;&quot;&gt;{!$Label.Download_Confirmation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DownloadRadioBtnLWC</name>
            <choiceReferences>NoConfirmationMessage</choiceReferences>
            <choiceReferences>YesConfirmationBtn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to generate another?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CongaTemplateErrorScreen</name>
        <label>CongaTemplateErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CongaError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 35, 35);&quot;&gt;{!FilteredLangRecord.Template_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eSignatureOutcome</name>
        <label>eSignatureOutcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outcome_Decision_esign</targetReference>
        </connector>
        <fields>
            <name>eSignatureDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(40, 167, 69);&quot;&gt;{!$Label.ESign_Confirmation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>eSignRadioBtns</name>
            <choiceReferences>NoConfirmationMessage</choiceReferences>
            <choiceReferences>YesConfirmationBtn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to send another?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Automates the selection, generation, and/or sending of the appropriate document template using input data and existing Salesforce records.</description>
        <name>Generate_Document_Screen</name>
        <label>Generate Document Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Filter_Training</targetReference>
        </connector>
        <fields>
            <name>Select_Document_Type_and_Delivery_Method</name>
            <choiceReferences>DocType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Document Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoDocScreen</name>
        <label>NoDocScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoDoc</name>
            <fieldText>&lt;p&gt;No documents are available for this training. Please contact your admin for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Language_Screen</name>
        <label>Show Language Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Filter_Language_Template</targetReference>
        </connector>
        <fields>
            <name>DisplaySelectedTemplate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(24, 24, 24);&quot;&gt;Selected &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(24, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;Document&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(24, 24, 24);&quot;&gt; :&amp;nbsp;&quot;{!Select_Document_Type_and_Delivery_Method}&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Document_Language</name>
            <choiceReferences>LanguageType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultLanguageId</elementReference>
            </defaultValue>
            <fieldText>Choose Language</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send for e-Sign</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Language_Screen_download</name>
        <label>Show Language Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Filter_Language_TemplateDownload</targetReference>
        </connector>
        <fields>
            <name>DisplaySelectedTemplateDownload</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 24, 24); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Selected Document :&amp;nbsp;&quot;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(24, 24, 24); font-size: 16px;&quot;&gt;{!Select_Document_Type_and_Delivery_Method}&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Document_LanguageDownload</name>
            <choiceReferences>LanguageType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultLanguageId</elementReference>
            </defaultValue>
            <fieldText>Choose Language</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Download Document</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Training_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Training_Consent_Form</name>
        <label>Send Training Consent Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>eSignatureOutcome</targetReference>
        </connector>
        <flowName>Send_DocuSign_eSignature_Request</flowName>
        <inputAssignments>
            <name>envelopeTemplateName</name>
            <value>
                <elementReference>FilteredLangRecord.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CongaQueryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>congaTemplateIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Follow_Up_Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Insuline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Language_TemplateDownload</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Document_Template_Language__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_PrePod_Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Selected_Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
    <variables>
        <name>DefaultLanguageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentDownloadPortal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnglishLanguageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FilteredLangRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Document_Template_Language__mdt</objectType>
    </variables>
    <variables>
        <name>FilteredTrainingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
    <variables>
        <name>isFlowSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LanguageCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Partner Server URL returned from the Salesforce API for the current user’s session, used for constructing Conga Composer URLs.</description>
        <name>partnerServerURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>partnerServerURL_370</elementReference>
        </value>
    </variables>
    <variables>
        <name>queryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrainingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
    <variables>
        <name>TrainingRecordInitial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Template_Selector__mdt</objectType>
    </variables>
</Flow>
