force-app/main/default/flows/Generate_PRO_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Conga_Template_Record_Id</name>
        <label>Store Conga Template Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>congaTemplateIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Conga_Template_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Conga_Query_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Generate PRO Form without PII</description>
        <name>generateProFormWithoutPII</name>
        <choiceText>Generate PRO Form without PII</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate PRO Form without PII</stringValue>
        </value>
    </choices>
    <choices>
        <name>generateProFormWithPII</name>
        <choiceText>Generate PRO Form with PII</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate PRO Form with PII</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Use to generate PRO form with and without PHI information.</description>
    <environments>Default</environments>
    <formulas>
        <name>evaluateFormTypeSelection</name>
        <dataType>String</dataType>
        <expression>CASE(
   {!generateProFormButtons},
  &quot;Generate PRO Form with PII&quot;, &quot;Generate PRO Form with PII&quot;,
  &quot;Generate PRO Form without PII&quot;, &quot;Generate PRO Form without PII&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Stores partner server URL.</description>
        <name>partnerServerURL_520</name>
        <dataType>String</dataType>
        <expression>{!$Api.Partner_Server_URL_520}</expression>
    </formulas>
    <interviewLabel>Generate PRO Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate PRO Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Care_Observation_Record</name>
        <label>Get Care Observation Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GeneratePROForm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareObservation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conga_Query_Record</name>
        <label>Get Conga Query Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conga_Document_Generator_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CongaTemplateErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APXTConga4__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>evaluateFormTypeSelection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXTConga4__Conga_Merge_Query__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conga_Template_Record</name>
        <label>Get Conga Template Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Conga_Template_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CongaTemplateErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APXTConga4__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Care_Observation_Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXTConga4__Conga_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>This screen launches the LWC component responsible for document generation.</description>
        <name>Conga_Document_Generator_Screen</name>
        <label>Conga Document Generator Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CongaLightningComponent</name>
            <extensionName>c:congaDocumentGeneratorCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>congaQueryId</name>
                <value>
                    <elementReference>Get_Conga_Query_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outputMessage</name>
                <value>
                    <stringValue>Captures the message.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partnerServerURL</name>
                <value>
                    <elementReference>partnerServerURL_520</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>congaTemplateIdList</name>
                <value>
                    <elementReference>congaTemplateIdList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filename</name>
                <value>
                    <elementReference>Get_Conga_Template_Record.APXTConga4__Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>congaQueryAlias</name>
                <value>
                    <stringValue>care</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DownloadDisplayTextLWC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(40, 167, 69); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Download_Confirmation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CongaTemplateErrorScreen</name>
        <label>CongaTemplateErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CongaTemplateRecordNotFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Template_Data_Missing_Error_Message_Screen}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GeneratePROForm</name>
        <label>Generate PRO Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Conga_Template_Record</targetReference>
        </connector>
        <fields>
            <name>careObseravationRecordType</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Care_Observation_Record.RecordType.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>generateProFormButtons</name>
            <choiceReferences>generateProFormWithPII</choiceReferences>
            <choiceReferences>generateProFormWithoutPII</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Form Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Download Document</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Care_Observation_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>congaTemplateIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
