force-app/main/default/flows/Get_Archived_Territories.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_Model</name>
        <label>Assign Active Model</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ModelIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Model.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Model</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territories</name>
        <label>Assign Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TerritoyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Territory</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Archived Territory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Archived Territories</label>
    <loops>
        <name>Loop_Over_Model</name>
        <label>Loop Over Model</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Archived_Territory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Active_Model</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Territory_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Territory</name>
        <label>Loop Over Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Territory_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Territories</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Archived_Territory</name>
        <label>Get Archived Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory2Model</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Record</name>
        <label>Get Territory Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2ModelId</field>
            <operator>In</operator>
            <value>
                <elementReference>ModelIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Archived_Territory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ModelIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerritoyIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
