force-app/main/default/flows/HealthcarePractitionerFacility_AfterInsert_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>HealthcarePractitionerFacility AfterInsert After Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while updating Patient Record </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error2</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>HealthcarePractitionerFacility AfterInsert After Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while creating territory associations for provider</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error3</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>HealthcarePractitionerFacility AfterInsert After Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while deleting provider territory associations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error4</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>HealthcarePractitionerFacility AfterInsert After Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while updating territory alias on provider</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_1</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>HealthcarePractitionerFacility AfterInsert After Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while updating Patient Record </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_2</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>HealthcarePractitionerFacility AfterInsert After Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error while updating Patient Record </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Exisitng_List</name>
        <label>Add To Exisitng List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingTerritories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Provider_AssociatedTerritories.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProviderAssociations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Practice_Territory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Healthcare_Provider_to_Inactive</name>
        <label>Assign the Healthcare Provider to Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_HealthCare_Provider.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_updated_HealthCare_Provider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_updated_HealthCare_Provider</name>
        <label>Assign updated HealthCare Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdateHealthCareProvider</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_HealthCare_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_HealthCare_Provider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectTerritoryIds</name>
        <label>CollectTerritoryIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TerritoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Practice_Territory2.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Practice_Territory2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate</name>
        <label>Concatenate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TerritoryAliasForProviderNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Provider_AssociatedTerritories.Territory2.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerritoryAliasForProviderNew</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Provider_AssociatedTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate2</name>
        <label>Concatenate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TerritoryAliasForProvider</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Territory.Territory2.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerritoryAliasForProvider</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate3</name>
        <label>Concatenate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TerritoryAliasForProviderNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Practice_Territory.Territory2.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerritoryAliasForProviderNew</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Practice_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Association_For_Provider</name>
        <label>Copy Association For Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Practice_Territory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Practice_Territory.ObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Practitioner.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Practice_Territory.AssociationCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Territory2Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the related HCPF record related to Practice</description>
        <name>Count_of_HCPF_record_related_to_Practice</name>
        <label>Count of HCPF record related to Practice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>practiceHCPFCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Related_HCPF_Practice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Provider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the related HCPF record related to Practice</description>
        <name>Count_of_HCPF_record_related_to_Provider</name>
        <label>Count of HCPF record related to Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProviderHCPFCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Related_HCPF_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Validate_the_HCPF_Of_Provider</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Duplicate2</name>
        <label>Check Duplicate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Concatenate2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsDuplicate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerritoryAliasForProvider</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>For_Each_Territory.Territory2.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Territory</targetReference>
            </connector>
            <label>IsDuplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Validity</name>
        <label>Check Validity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CollectTerritoryIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_To_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherTerritories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>For_Each_Practice_Territory2.Territory2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Practice_Territory2</targetReference>
            </connector>
            <label>Invalid To Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Bypass</name>
        <label>Flow Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_the_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProviderAssociations</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Provider_Associations</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check2</name>
        <label>Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_HCPF_Related_to_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerritoryIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Territory_Associations</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check the related HCPF record of  practice to inactive the respective provider and practice</description>
        <name>To_validate_the_HCPF_of_Practice</name>
        <label>To validate the HCPF of Practice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Practice_to_InActivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>practiceHCPFCollectionSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Practice</targetReference>
            </connector>
            <label>Valid Practice to InActivate</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check the related HCPF record of provider to inactive the respective provider and practice</description>
        <name>To_Validate_the_HCPF_Of_Provider</name>
        <label>To Validate the HCPF Of Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Territory_Alias_on_Provider_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Provider_to_InActivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProviderHCPFCollectionSize</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Provider</targetReference>
            </connector>
            <label>Valid Provider to InActivate</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Validate_the_HealthCare_Provider</name>
        <label>To Validate the HealthCare Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>To_validate_the_HCPF_of_Practice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_HealthCare_Provider_to_InActivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HealthCareProvider</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_HealthCare_Provider</targetReference>
            </connector>
            <label>Valid HealthCare Provider to InActivate</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to check the status field to move to inactive</description>
        <name>Validate_the_status</name>
        <label>Validate the status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HCP_Inactive</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HealthCare_Provider</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>HCP Inactive</label>
        </rules>
        <rules>
            <name>HCP_Active</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Provider_Associated_Territories_new</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>HCP Active</label>
        </rules>
    </decisions>
    <description>Record trigger flow on HealthcarePractitionerFacility to update the related practice and provider record</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TerritoryAliasFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!TerritoryAliasForProvider}, LEN({!TerritoryAliasForProvider})-1)</expression>
    </formulas>
    <formulas>
        <name>TerritoryAliasFormulaNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!TerritoryAliasForProviderNew}, LEN({!TerritoryAliasForProviderNew})-1)</expression>
    </formulas>
    <interviewLabel>HealthcarePractitionerFacility AfterInsert After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HealthcarePractitionerFacility AfterInsert After Update</label>
    <loops>
        <name>For_Each_Practice_Territory</name>
        <label>For Each Practice Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Practice_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Association_For_Provider</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Practice_Territory2</name>
        <label>For Each Practice Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Practice_Territories2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Validity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Provider_AssociatedTerritories</name>
        <label>For Each Provider AssociatedTerritories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Provider_Associated_Territories_new</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_Exisitng_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Practice_Territories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Territory</name>
        <label>For Each Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Provider_Associated_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_HCPF_Related_to_Provider</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_HealthCare_Provider</name>
        <label>Loop over HealthCare Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>HealthCareProvider</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_Healthcare_Provider_to_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_HealthCare_Provider</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Provider_Associations</name>
        <label>Create Provider Associations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Territory_Alias</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error2</targetReference>
        </faultConnector>
        <inputReference>ProviderAssociations</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Territory_Associations</name>
        <label>Delete Territory Associations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Provider_Associated_Territories</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Practitioner.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TerritoryIds</elementReference>
            </value>
        </filters>
        <object>ObjectTerritory2Association</object>
    </recordDeletes>
    <recordLookups>
        <description>Get the related HCPF record related to the practice</description>
        <name>Get_HCPF_Related_Record_To_Practice</name>
        <label>Get HCPF Related Record To Practice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_HCPF_record_related_to_Practice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Practice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>HealthcarePractitionerFacility</object>
        <outputReference>Related_HCPF_Practice</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_HCPF_Related_to_Provider</name>
        <label>Get HCPF Related to Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_HCPF_record_related_to_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Provider.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>HealthcarePractitionerFacility</object>
        <outputReference>Related_HCPF_Provider</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the related Healthcare Provider</description>
        <name>Get_HealthCare_Provider</name>
        <label>Get HealthCare Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Practice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PractitionerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PractitionerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HealthcareProvider</object>
        <outputReference>HealthCareProvider</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Practice_Territories</name>
        <label>Get Practice Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Practice_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ExistingTerritories</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Practice_Territories2</name>
        <label>Get Practice Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Providers_Other_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Associated_Territories</name>
        <label>Get Provider Associated Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Practitioner.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Associated_Territories_new</name>
        <label>Get Provider Associated Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Provider_AssociatedTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Practitioner.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the related Practice Record</description>
        <name>Get_Related_Practice</name>
        <label>Get Related Practice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HCPF_Related_Record_To_Practice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the related provider record to the HCPF</description>
        <name>Get_Related_Provider</name>
        <label>Get Related Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Practice_Territories2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Practitioner.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the related to inactive since there are no valid provider practice related to practice</description>
        <name>Update_Related_Practice</name>
        <label>Update Related Practice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Error_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Practice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the related to inactive since there are no valid provider practice related to provider</description>
        <name>Update_Related_Provider</name>
        <label>Update Related Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>To_Validate_the_HealthCare_Provider</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Provider.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Alias__c</field>
            <value>
                <elementReference>TerritoryAliasFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Territory_Alias</name>
        <label>Update Territory Alias</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Error4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Practitioner.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Territory_Alias__c</field>
            <value>
                <elementReference>TerritoryAliasFormulaNew</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Territory_Alias_on_Provider_Account</name>
        <label>Update Territory Alias on Provider Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>To_Validate_the_HealthCare_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Practitioner.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Territory_Alias__c</field>
            <value>
                <elementReference>TerritoryAliasFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the HealthCare Provider related to the HCPF</description>
        <name>Update_the_HealthCare_Provider</name>
        <label>Update the HealthCare Provider</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>To_validate_the_HCPF_of_Practice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_1</targetReference>
        </faultConnector>
        <inputReference>UpdateHealthCareProvider</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Bypass</targetReference>
        </connector>
        <object>HealthcarePractitionerFacility</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Providers_Other_Territories</name>
        <label>Check Providers Other Territories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_Each_Practice_Territory2</targetReference>
        </connector>
        <flowName>CheckProviderRelatedTerritories</flowName>
        <inputAssignments>
            <name>PractitionerId</name>
            <value>
                <elementReference>$Record.PractitionerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OtherTerritories</assignToReference>
            <name>TerritoryIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ExistingTerritories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store health care provider record</description>
        <name>HealthCareProvider</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
    <variables>
        <name>OtherTerritories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the collection size related to HCPF of practice</description>
        <name>practiceHCPFCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProviderAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <description>Variable to store the count of the related HCPF of provder</description>
        <name>ProviderHCPFCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>This store all the related HCPF record related to Practice</description>
        <name>Related_HCPF_Practice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <description>Variable to store the HCPF related to the provider</description>
        <name>Related_HCPF_Provider</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcarePractitionerFacility</objectType>
    </variables>
    <variables>
        <name>TerritoryAliasForProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerritoryAliasForProviderNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerritoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateHealthCareProvider</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
</Flow>
