force-app/main/default/flows/Identifier_After_Insert_After_Update_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_the_Custom_Unique_ID_on_Account_Error_Log</name>
        <label>Update the Custom Unique ID on Account Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Updating_the_Custom_Unique_Id_on_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Identifier After Insert After Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating the Custom Unique ID on Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>While updating Custom Unique Id from Identifier to Account Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ASIM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Patient_Account_Record_Type_Id</name>
        <label>Store Patient Account Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PatientAccountRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Account_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Account_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Provider_Account_Record_Type_Id</name>
        <label>Store Provider Account Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProviderAccountRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Account_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Account_Record_Types</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Updating_the_Custom_Unique_Id_on_Account</name>
        <label>Error Updating the Custom Unique Id on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Custom_Unique_Id_Updation_Error}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_the_NPI_or_Customer_ID</name>
        <label>Check for the NPI or Customer ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NPI_Provider_Account_or_CustomerID_Patient_Account</name>
            <conditionLogic>( 1 AND 2 ) OR ( 3 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IdUsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Account_Recordtype_Id.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProviderAccountRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IdUsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Account_Recordtype_Id.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PatientAccountRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Custom_Unique_ID_on_Account</targetReference>
            </connector>
            <label>NPI Provider Account or CustomerID Patient Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Bypass</name>
        <label>Flow Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Record_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Bypass</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Record_Created</name>
        <label>New Record Created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record_Created2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewIdentifierRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Name</targetReference>
            </connector>
            <label>New Record Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provider_or_Patient_Account_Record_Type</name>
        <label>Provider or Patient Account Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Account_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Account_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Account_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Provider_Account_Record_Type_Developer_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Provider_Account_Record_Type_Id</targetReference>
            </connector>
            <label>Provider Account Record Type</label>
        </rules>
        <rules>
            <name>Patient_Account_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Account_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Patient_Account_Record_Type_Developer_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Patient_Account_Record_Type_Id</targetReference>
            </connector>
            <label>Patient Account Record Type</label>
        </rules>
    </decisions>
    <description>Flow to update the NPI and Customer ID from Identifier to the parent account record</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewIdentifierRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Identifier After Insert After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identifier After Insert After Update Handler</label>
    <loops>
        <name>Loop_Over_Account_Record_Types</name>
        <label>Loop Over Account Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_RecordType_Name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Provider_or_Patient_Account_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Parent_Account_Recordtype_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Account_Recordtype_Id</name>
        <label>Get Parent Account Recordtype Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_the_NPI_or_Customer_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Name</name>
        <label>Get RecordType Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Account_Record_Types</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Patient_Account_Record_Type_Developer_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Provider_Account_Record_Type_Developer_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Custom_Unique_ID_on_Account</name>
        <label>Update the Custom Unique ID on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Update_the_Custom_Unique_ID_on_Account_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Custom_UniqueID__c</field>
            <value>
                <elementReference>$Record.ID_Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Bypass</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>ID_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IdUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer ID</stringValue>
            </value>
        </filters>
        <filters>
            <field>IdUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPI</stringValue>
            </value>
        </filters>
        <object>Identifier</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PatientAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
