force-app/main/default/flows/Lock_Reimbursement_Approved_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Lock the record to prevent further edits.</description>
        <name>LockRecord</name>
        <label>Lock Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ReimbursementID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Lock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if the reimbursement record has an Approved status.</description>
        <name>IsApprovedReimbursementRecord</name>
        <label>Is Approved Reimbursement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReimbursementRecords.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LockRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Lock approved reimbursement records to prevent further modifications.</description>
    <environments>Default</environments>
    <interviewLabel>Retrieve and access reimbursement records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lock Reimbursement Approved Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve and access reimbursement records.</description>
        <name>GetReimbursementRecords</name>
        <label>Get Reimbursement Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsApprovedReimbursementRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReimbursementID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reimbursement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetReimbursementRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ID used to track a reimbursement record.</description>
        <name>ReimbursementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
