force-app/main/default/flows/Opportunity_Product_After_Insert_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OpportunityUpdateErrMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>NGOMCT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Parent_Opp_Record</name>
        <label>Assign Parent Opp Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Sub_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Current_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Current_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Primary_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Primary_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Bypass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Opp_Record2</name>
        <label>Assign Parent Opp Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Current_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Primary_and_Current_Product_On_Parent_Opportunity.ParentOppRecord.Current_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Primary_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Primary_and_Current_Product_On_Parent_Opportunity.ParentOppRecord.Primary_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_And_SubStatus_On_Parent_Opportunity2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Opp_Record3</name>
        <label>Assign Parent Opp Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Status_And_SubStatus_On_Parent_Opportunity.ParentOppRecord.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Status_And_SubStatus_On_Parent_Opportunity.ParentOppRecord.Sub_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Opp_Record4</name>
        <label>Assign Parent Opp Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Status_And_SubStatus_On_Parent_Opportunity2.ParentOppRecord.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Status_And_SubStatus_On_Parent_Opportunity2.ParentOppRecord.Sub_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Opp_Record5</name>
        <label>Assign Parent Opp Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Current_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Primary_and_Current_Product_On_Parent_Opportunity2.ParentOppRecord.Current_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_And_SubStatus_On_Parent_Opportunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FlowAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity_Product_After_Insert_After_Update</stringValue>
        </value>
    </constants>
    <constants>
        <name>OpportunityUpdateErrMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error on Updating Parent Opportunity</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Flow_Bypass</name>
        <label>Flow Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Primary_and_Current_Product_On_Parent_Opportunity2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>After Update Context</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassed</label>
        </rules>
        <rules>
            <name>After_Insert_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_and_Current_Product_On_Parent_Opportunity</targetReference>
            </connector>
            <label>After Insert Context</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product After Insert After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product After Insert After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Parent_Opportunity</name>
        <label>Update Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>ParentOppRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Parent_Opp_Record</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_Primary_and_Current_Product_On_Parent_Opportunity</name>
        <label>Set Primary and Current Product On Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Parent_Opp_Record2</targetReference>
        </connector>
        <flowName>Set_Primary_and_Current_Product_On_Parent_Opportunity</flowName>
        <inputAssignments>
            <name>ParentOppRecord</name>
            <value>
                <elementReference>ParentOppRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeringRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Primary_and_Current_Product_On_Parent_Opportunity2</name>
        <label>Set Primary and Current Product On Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Parent_Opp_Record5</targetReference>
        </connector>
        <flowName>Set_Primary_and_Current_Product_On_Parent_Opportunity</flowName>
        <inputAssignments>
            <name>ParentOppRecord</name>
            <value>
                <elementReference>ParentOppRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeringRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Status_And_SubStatus_On_Parent_Opportunity</name>
        <label>Set Status And SubStatus On Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Parent_Opp_Record3</targetReference>
        </connector>
        <flowName>Set_Status_And_SubStatus_On_Parent_Opportunity</flowName>
        <inputAssignments>
            <name>ParentOppRecord</name>
            <value>
                <elementReference>ParentOppRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeringRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Status_And_SubStatus_On_Parent_Opportunity2</name>
        <label>Set Status And SubStatus On Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Parent_Opp_Record4</targetReference>
        </connector>
        <flowName>Set_Status_And_SubStatus_On_Parent_Opportunity</flowName>
        <inputAssignments>
            <name>ParentOppRecord</name>
            <value>
                <elementReference>ParentOppRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TriggeringRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ParentOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
