force-app/main/default/flows/Party_Consent_Before_Save_Update_Name_with_Status_and_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Name_with_Status_and_Type</name>
        <label>Update Name with Status and Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>computedNameFromStatusAndType</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Flow_Bypass</name>
        <label>Flow Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Name_with_Status_and_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bypassed</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <description>Used to standardize the name field to be a combination of Type + &quot; &quot; + Status.</description>
    <environments>Default</environments>
    <formulas>
        <name>computedNameFromStatusAndType</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Type__c}) &amp; &quot; &quot; &amp; TEXT({!$Record.Status__c})</expression>
    </formulas>
    <interviewLabel>Party Consent : Before Save - Update Name with Status and Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Party Consent : Before Save - Update Name with Status and Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Bypass</targetReference>
        </connector>
        <filterFormula>OR(
    ISNEW(),
    ISCHANGED({!$Record.Status__c}),
    ISCHANGED({!$Record.Type__c})
)</filterFormula>
        <object>PartyConsent</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
