force-app/main/default/flows/Patient_Account_Purge_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Logs</name>
        <label>Create Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Logs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Scheduled Patient Account Data Purge</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Loop_Through_Logs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_ACR_Apex</name>
        <label>Delete ACR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs9</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>AccountContactRelation</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Account Contact Relationship</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_ACR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Assets_Apex</name>
        <label>Delete Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Log1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Assets</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Campaign_Member_Apex</name>
        <label>Delete Campaign Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Log</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Campaign Members</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Campaign_Member</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Case_History_Apex</name>
        <label>Delete Case History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs12</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>CaseHistory</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Case History</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Case_History</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_CCR_Apex</name>
        <label>Delete CCR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs10</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>ContactContactRelation</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Contact Contact Relationship</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_CCR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_ContactPointTypeConsent_Apex</name>
        <label>Delete ContactPointTypeConsent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs6</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>ContactPointTypeConsent</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Contact Point Type Consent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_ContactPointTypeConsent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Emails_Apex</name>
        <label>Delete Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs5</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>EmailMessage</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Emails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Events_Apex</name>
        <label>Delete Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs4</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>Event</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Events</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Lead_Apex</name>
        <label>Delete Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs7</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Leads</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Opportunity_Apex</name>
        <label>Delete Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs8</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Opportunities</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Party_Consent</name>
        <label>Delete Party Consent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>PartyConsent</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Party Consent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_PartyConsent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Tasks_Apex</name>
        <label>Delete Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs2</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isDelete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>Get_Tasks</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Cases_Apex</name>
        <label>Update Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowDmlUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Logs11</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordList</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>caseRecordsToUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowDmlUtility</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adding to list to ensure using IN operator below flow to verify any unwanted record is not pulled in for execution.</description>
        <name>Add_Account_to_List</name>
        <label>Add Account to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deactivate_Portal_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding to list to ensure using IN operator below flow to verify any unwanted record is not pulled in for execution.</description>
        <name>Add_Contact_to_List</name>
        <label>Add Contact to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_Id_to_List</name>
        <label>Add Lead Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Log</name>
        <label>Add Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Campaign_Member_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Campaign_Member_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Log1</name>
        <label>Add Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Assets_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Assets_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Party_Consent.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Party_Consent.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ContactPointTypeConsent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs0</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Wait_for_1_minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs10</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_CCR_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_CCR_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs11</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Cases_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Cases_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wait</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs12</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Case_History_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Case_History_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs13</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Individual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs14</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Filter_ObjectNameList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs15</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Logs18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs16</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Logs18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs18</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Error Logged for Individual: {!$Record.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_errorLogList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs2</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Assets_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Assets_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs4</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Events_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Events_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs5</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Emails_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Emails_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PartyConsent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs6</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_ContactPointTypeConsent_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_ContactPointTypeConsent_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Lead_Apex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs7</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Lead_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Lead_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs8</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Opportunity_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_Opportunity_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ACR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Logs9</name>
        <label>Add Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_ACR_Apex.errorLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Delete_ACR_Apex.objectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Comma_Seperated_String</name>
        <label>Create Comma Seperated String</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>objectNameString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!objectNameString} , {!Loop_ObjectNameList}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ObjectNameList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to add Case related data to multiple Lists</description>
        <name>Prepare_List_for_Case</name>
        <label>Prepare List for Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Element to update individual case field value</description>
        <name>Update_Case_Field_Values</name>
        <label>Update Case Field Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseCommentConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_List_for_Case</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_errorLogList</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter errorLogList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_errorLogList</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>errorLogList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_errorLogList</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_errorLogList</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Logs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_ObjectNameList</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter ObjectNameList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItemFromSourceCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>objectNameList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItemFromSourceCollection</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItemFromSourceCollection</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_ObjectNameList</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>caseCommentConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient reference was deleted as per Right To Be Forgotten process</stringValue>
        </value>
    </constants>
    <constants>
        <name>isDevBypass</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <description>Flow Bypass is an architectural or procedural mechanism used to skip the flow.</description>
        <name>Flow_Bypass</name>
        <label>Flow Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Verify_RTBF_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Present</name>
        <label>Is Account Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Wait_for_1_minute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_to_List</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Present</name>
        <label>Is Contact Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact_to_List</targetReference>
            </connector>
            <label>Contact Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Error_Found</name>
        <label>Is Error Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errors Found</defaultConnectorLabel>
        <rules>
            <name>Errors_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_ObjectNameList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Errors Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Individual having a RTBF Date as yesterday</description>
        <name>Verify_RTBF_Date</name>
        <label>Verify RTBF Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RTBF_Requested_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getEligibleRTBFDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <description>Flow to purge all of patient account related data</description>
    <environments>Default</environments>
    <formulas>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>currentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>formattedObjectNameString</name>
        <dataType>String</dataType>
        <expression>RIGHT({!objectNameString},LEN({!objectNameString}) - 3)</expression>
    </formulas>
    <formulas>
        <name>getEligibleRTBFDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>Patient Account Purge Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Patient Account Data Purge</label>
    <loops>
        <description>Looping through leads to prepare a list of lead ids which will help in querying related records</description>
        <name>Iterate_through_Leads</name>
        <label>Iterate through Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lead_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ObjectNameList</name>
        <label>Loop ObjectNameList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_ObjectNameList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Comma_Seperated_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Error_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop is required to prepare case Id List and update cases</description>
        <name>Loop_through_Cases</name>
        <label>Loop through Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case_Field_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases_Apex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Logs</name>
        <label>Loop Through Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_errorLogList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Logs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Contact Linked with Individual</description>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Related Accounts from Individuals</description>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonIndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get ACR Linked with Account and contact</description>
        <name>Get_ACR</name>
        <label>Get ACR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_ACR_Apex</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Assets linked with Account</description>
        <name>Get_Assets</name>
        <label>Get Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Assets_Apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Campaign Member associated with Account</description>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Campaign_Member_Apex</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>In</operator>
            <value>
                <elementReference>leadIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_History</name>
        <label>Get Case History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Case_History_Apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>In</operator>
            <value>
                <elementReference>caseIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseHistory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Element to Get Cases Linked with Patient Account</description>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CCR Linked with Contact</description>
        <name>Get_CCR</name>
        <label>Get CCR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_CCR_Apex</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 4)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContactPointTypeConsent</name>
        <label>Get ContactPointTypeConsent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_ContactPointTypeConsent_Apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Emails Linked with Account</description>
        <name>Get_Emails</name>
        <label>Get Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Emails_Apex</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>In</operator>
            <value>
                <elementReference>leadIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Events Linked with Account</description>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Events_Apex</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>leadIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Leads linked to individual</description>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Opportunities Linked with Account</description>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Opportunity_Apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PartyConsent</name>
        <label>Get PartyConsent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Party_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartyConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RTBF_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Tasks Linked with Account</description>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Tasks_Apex</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>leadIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Deactivate Portal Users</description>
        <name>Deactivate_Portal_User</name>
        <label>Deactivate Portal User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_for_1_minute</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Logs0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPortalEnabled</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account for Customer PortalEnabled</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Individual</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Logs13</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonIndividualId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsCustomerPortal</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Data Purge Date on triggering individual</description>
        <name>Update_Individual</name>
        <label>Update Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_ObjectNameList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Logs14</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Data_Purge_Date__c</field>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Task linked with Individual with proper comment</description>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_errorLogList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Logs15</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>currentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Task linked with Individual with proper comment</description>
        <name>Update_Task2</name>
        <label>Update Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Logs18</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Logs16</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>currentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskCommentOnError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Purge_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RTBF_Requested_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShouldForget</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Individual</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-15</startDate>
            <startTime>01:25:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TaskComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Customer ID record was deleted as a result of RTBF Inquiry</text>
    </textTemplates>
    <textTemplates>
        <name>taskCommentOnError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>RTBF Deletion Failed for Customer ID due to Error in following objects: {!formattedObjectNameString}</text>
    </textTemplates>
    <variables>
        <name>accountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to Get Case Related data</description>
        <name>caseIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_errorLogList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorLogList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds Ids of Individual, helps in querying related records</description>
        <name>individualIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectNameString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <waits>
        <description>A wait element to separate transaction on case and case history in order to ensure consistency and improve performance</description>
        <name>Wait</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Case_History</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <description>Wait Element to segregate Setup and Non-Setup DML</description>
        <name>Wait_for_1_minute</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for 1 minute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Leads</targetReference>
            </connector>
            <label>el_1</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
