force-app/main/default/flows/Review_Reimbursement_Approval_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Displays the error message when flow fails.</description>
        <name>SaveError</name>
        <label>Save Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Review_Reimbursement_Approval_Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Send an email notification informing the requester of the approval.</description>
        <name>SendApprovedEmail</name>
        <label>Send Approved Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UpdateReimbursementRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SaveError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>finalApproverEmailId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00Xbb000002VgufEAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>GetReimbursementRecords.CreatedBy.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>GetReimbursementRecords.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <description>Send an email notification informing the requester of the rejection.</description>
        <name>SendRejectedEmail</name>
        <label>Send Rejected Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>IsReasonForRejectionOther</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SaveError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>finalApproverEmailId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00Xbb000002VgugEAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>GetReimbursementRecords.CreatedBy.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>GetReimbursementRecords.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Update the request status to Approved.</description>
        <name>AssignApprovedStatus</name>
        <label>Assign Approved Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendApprovedEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the request status to Rejected.</description>
        <name>AssignRejectedStatus</name>
        <label>Assign Rejected Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendRejectedEmail</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Stores the choice label and value for the Approve option for ApprovalDecisionRadioButtons on the ReviewApprovalRequestScreen. Don’t change the value of this choice. Changing the value can cause the approval to fail.</description>
        <name>choiceApprovalDecisionRadioButtonsApprove</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice label and value for the Reject option for ApprovalDecisionRadioButtons on the ReviewApprovalRequestScreen. Don’t change the value of this choice. Changing the value can cause the approval to fail.</description>
        <name>choiceApprovalDecisionRadioButtonsReject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Determine whether the reimbursement request is approved or rejected.</description>
        <name>ApprovalRequestDecision</name>
        <label>Approval Request Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalDecisionRadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceApprovalDecisionRadioButtonsReject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRejectedStatus</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalDecisionRadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceApprovalDecisionRadioButtonsApprove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignApprovedStatus</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the rejection reason is marked as Other.</description>
        <name>IsReasonForRejectionOther</name>
        <label>Is Reason For Rejection Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateReimbursementRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RejectionReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateReimbursementRecordForOtherReason</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Evaluate the reimbursement request to determine approval status.</description>
    <dynamicChoiceSets>
        <name>rejectReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Reason__c</picklistField>
        <picklistObject>Reimbursement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ownerId</name>
        <dataType>String</dataType>
        <expression>IF({!approvalStatus} == &quot;Approved&quot;,{!$User.Id}, {!GetReimbursementRecords.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>reasonForRejection</name>
        <dataType>String</dataType>
        <expression>IF({!approvalStatus} == &quot;Rejected&quot;,{!RejectionReason}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Review Reimbursement Approval Request POC {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Review Reimbursement Approval Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieve and access reimbursement records.</description>
        <name>GetReimbursementRecords</name>
        <label>Get Reimbursement Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApprovalRequestDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SaveError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>approvalInformation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reimbursement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the reimbursement record with the latest status and details.</description>
        <name>UpdateReimbursementRecord</name>
        <label>Update Reimbursement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SaveError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>approvalInformation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver_Comments__c</field>
            <value>
                <elementReference>DecisionCommentsLongText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>reasonForRejection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>approvalStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Reimbursement__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the reimbursement record with the latest status and details.</description>
        <name>UpdateReimbursementRecordForOtherReason</name>
        <label>Update Reimbursement Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SaveError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>approvalInformation</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver_Comments__c</field>
            <value>
                <elementReference>DecisionCommentsOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>reasonForRejection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>approvalStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Reimbursement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Allows the flow user to approve or reject an approval request, and add comments to the decision.</description>
        <name>ReviewApprovalRequest</name>
        <label>Review Approval Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetReimbursementRecords</targetReference>
        </connector>
        <fields>
            <name>InstructionsDisplayText</name>
            <fieldText>Based on the displayed information, approve or reject the request. You can also include comments about your decision.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ApprovalDecisionRadioButtons</name>
            <choiceReferences>choiceApprovalDecisionRadioButtonsApprove</choiceReferences>
            <choiceReferences>choiceApprovalDecisionRadioButtonsReject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approval Decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RejectionReason</name>
            <choiceReferences>rejectReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalDecisionRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceApprovalDecisionRadioButtonsReject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DecisionCommentsLongText</name>
            <dataType>String</dataType>
            <fieldText>Decision Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalDecisionRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceApprovalDecisionRadioButtonsApprove</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ApprovalDecisionRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceApprovalDecisionRadioButtonsReject</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RejectionReason</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DecisionCommentsOther</name>
            <dataType>String</dataType>
            <fieldText>Decision Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RejectionReason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>standard_approvals__ReviewAppvlRqst</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReviewApprovalRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the value of DecisionCommentsLongText and is available as output from the flow.</description>
        <name>approvalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>DecisionCommentsLongText</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the value of the selection that the reviewer makes in ApprovalDecisionRadioButtons. This required variable is available as output from the flow. Approve and Reject are its only valid values. Don’t use any other values. Using other values causes the approval to fail.</description>
        <name>approvalDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ApprovalDecisionRadioButtons</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores information about the record to be approved and is passed into the flow.</description>
        <name>approvalInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>approvalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>finalApproverEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Email</elementReference>
        </value>
    </variables>
</Flow>
