force-app/main/default/flows/Send_to_ASPN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Opportunity_Product_Record_Error_Log</name>
        <label>Create Opportunity Product Record Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Opportunity_Product_Create_Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Send_to_ASPN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Creating Opportunity Product Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>While attempting &apos;Send to ASPN&apos; from Patient Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>OMCT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Opportunity_Record_Error_Log</name>
        <label>Create Opportunity Record Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Opportunity_Create_Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Send_to_ASPN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Creating Opportunity Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>While attempting &apos;Send to ASPN&apos; from Patient Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>OMCT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Patient_Record_Error_Log</name>
        <label>Update Patient Record Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Patient_Update_Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Send_to_ASPN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error Updating Current Patient Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scenario</name>
            <value>
                <stringValue>While attempting &apos;Send to ASPN&apos; from Patient Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>OMCT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Choice1_DASH</name>
        <choiceText>DASH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DASH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2_Omnipod5Dexcom</name>
        <choiceText>Omnipod 5 Dexcom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Omnipod 5 Dexcom</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3_Omnipod5Libre</name>
        <choiceText>Omnipod 5 Libre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Omnipod 5 Libre</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Does_Patient_Need_Update</name>
        <label>Does Patient Need Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_0_Pricebook_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Not Required</defaultConnectorLabel>
        <rules>
            <name>Patient_Needs_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Continuous_Glucose_Monitor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Sensor_CGM_Continuous_Glucose_Monitor__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_of_Birth</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Date_of_Birth__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Diabetes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Type_of_Diabetes__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Patient_Record</targetReference>
            </connector>
            <label>Patient Needs Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if the patient has related open opportunities.</description>
        <name>Is_Open_Opportunity_Present</name>
        <label>Is Open Opportunity Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Opportunities</defaultConnectorLabel>
        <rules>
            <name>Has_Open_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checking_Open_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Open_Opportunities_Screen</targetReference>
            </connector>
            <label>Has Open Opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreRequisite_Data_Check</name>
        <label>PreRequisite Data Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PreRequisite_Data_Check_Failed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Data_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreRequisiteDataCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Open_Opportunities</targetReference>
            </connector>
            <label>All Data Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_sending_to_ASPN_Choice</name>
        <label>Proceed sending to ASPN Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Dont Proceed</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proceed_Sending_to_ASPN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Creation</targetReference>
            </connector>
            <label>Yes Proceed</label>
        </rules>
    </decisions>
    <description>Screen Flow that launches when &apos;Send to ASPN&apos; quick action button is clicked from Patient Record Page.</description>
    <dynamicChoiceSets>
        <name>CGMPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sensor_CGM_Continuous_Glucose_Monitor__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStageNamePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfDiabetesPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Diabetes__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateOfBirthErrorIndicator</name>
        <dataType>String</dataType>
        <expression>IF({!Date_of_Birth} &gt; TODAY(), &quot;DOBInFuture&quot;, IF({!Type_of_Diabetes} &lt;&gt; &quot;Type 2: Using Insulin&quot;, &quot;Type1OrOthers&quot;, &quot;Type2&quot;))</expression>
    </formulas>
    <formulas>
        <name>DateOfBirthErrorMessageFormula</name>
        <dataType>String</dataType>
        <expression>IF({!DateOfBirthErrorIndicator} = &quot;DOBInFuture&quot;, &quot;Date of Birth cannot be in Future.&quot;,IF({!DateOfBirthErrorIndicator} = &quot;Type2&quot;, &quot;Age of Patient cannot be under 18 years for Diabetes Types: &apos;Type 2: Using Insulin&apos; when Product is not &apos;DASH&apos;&quot;, &quot;Age of Patient cannot be under 2 years for Diabetes Types: &apos;Type 1&apos; or &apos;Other/Unsure&apos; when Product is not &apos;DASH&apos;&quot;))</expression>
    </formulas>
    <formulas>
        <name>DateOfBirthValidationFormula</name>
        <dataType>Boolean</dataType>
        <expression>NOT (
	({!Related_Product} &lt;&gt; &quot;DASH&quot; &amp;&amp;
	((
		{!Type_of_Diabetes} &lt;&gt; &quot;Type 2: Using Insulin&quot; &amp;&amp;
		{!Date_of_Birth} &gt; ADDMONTHS(TODAY(), -24)
	) || 
	(
		{!Type_of_Diabetes} = &quot;Type 2: Using Insulin&quot; &amp;&amp;
		{!Date_of_Birth} &gt; ADDMONTHS(TODAY(), -216)
	)))||
	{!Date_of_Birth} &gt; TODAY()
)</expression>
    </formulas>
    <formulas>
        <name>DefaultOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Label.Opportunity_Name_Prefix} &amp; &quot;-&quot; &amp; RIGHT(&quot;0&quot; &amp; TEXT(MONTH(TODAY())), 2) &amp; &quot;/&quot; &amp; RIGHT(&quot;0&quot; &amp; TEXT(DAY(TODAY())), 2) &amp; &quot;/&quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasCityName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_ACR.Account.BillingCity}))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasFirstName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_CCR.RelatedContact.Account.FirstName}))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasLastName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_CCR.RelatedContact.Account.LastName}))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasNPI</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_Identifier.ID_Value__c}))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasPhone</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_ACR.Account.Phone}))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasPostalCode</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_ACR.Account.BillingPostalCode}))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasStateName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(TEXT({!Get_Related_ACR.Account.BillingStateCode})))</expression>
    </formulas>
    <formulas>
        <name>DoctorHasStreetName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_ACR.Account.BillingStreet}))</expression>
    </formulas>
    <formulas>
        <name>ExistingOpenOpportunitiesMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.ASPN_PatientHasOpenOpportunities}, &quot;&lt;&lt;patientName&gt;&gt;&quot;, {!recordId.Name})</expression>
    </formulas>
    <formulas>
        <name>IsErrorOccuredPublishPE</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage}, &quot;Error publishing ASPN Platform Events&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>PatientHasCityName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_Patient_ContactPointAddress.City}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasDiabetesType</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(TEXT({!recordId.Type_of_Diabetes__c})))</expression>
    </formulas>
    <formulas>
        <name>PatientHasDOB</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNULL({!recordId.Date_of_Birth__c}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasFirstName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!recordId.FirstName}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasGenderIdentity</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(TEXT({!recordId.PersonGenderIdentity})))</expression>
    </formulas>
    <formulas>
        <name>PatientHasLastName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!recordId.LastName}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasPostalCode</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_Patient_ContactPointAddress.PostalCode}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasSourceID</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!recordId.Custom_UniqueID__c}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasStateName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_Patient_ContactPointAddress.State}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasStreetName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_Patient_ContactPointAddress.Street}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasTelephoneNumber</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_Patient_ContactPointPhone.TelephoneNumber}))</expression>
    </formulas>
    <formulas>
        <name>PatientHasTransactionalEmailConsent</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Related_Contact_Point_Type_Consent.Id}))</expression>
    </formulas>
    <formulas>
        <name>PreRequisiteDataCheck</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!PatientHasSourceID},
{!PatientHasFirstName},
{!PatientHasLastName},
{!PatientHasGenderIdentity},
{!PatientHasTelephoneNumber},
{!PatientHasStreetName},
{!PatientHasCityName},
{!PatientHasStateName},
{!PatientHasPostalCode},
{!PatientHasDOB},
{!PatientHasDiabetesType},
{!DoctorHasFirstName},
{!DoctorHasLastName},
{!DoctorHasStreetName},
{!DoctorHasCityName},
{!DoctorHasStateName},
{!DoctorHasPostalCode},
{!DoctorHasPhone},
{!DoctorHasNPI},
{!PatientHasTransactionalEmailConsent}
)</expression>
    </formulas>
    <formulas>
        <name>PreRequisiteDataCheckFailedErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.ASPN_DataCheckFailedErrorMessage} &amp; BR() &amp;
IF({!PatientHasSourceID}, &quot;&quot;, {!$Label.ASPN_PatientCustomUniqueId} &amp; BR()) &amp;
IF({!PatientHasFirstName}, &quot;&quot;, {!$Label.ASPN_PatientFirstName} &amp; BR()) &amp;
IF({!PatientHasLastName}, &quot;&quot;, {!$Label.ASPN_PatientLastName} &amp; BR()) &amp;
IF({!PatientHasGenderIdentity}, &quot;&quot;, {!$Label.ASPN_PatientGenderIdentity} &amp; BR()) &amp;
IF({!PatientHasTelephoneNumber}, &quot;&quot;,{!$Label.ASPN_PatientTelephoneNumber} &amp; BR()) &amp;
IF({!PatientHasStreetName}, &quot;&quot;,{!$Label.ASPN_PatientAddress} &amp; BR()) &amp;
IF({!PatientHasCityName}, &quot;&quot;, {!$Label.ASPN_PatientCity} &amp; BR()) &amp;
IF({!PatientHasStateName}, &quot;&quot;, {!$Label.ASPN_PatientState} &amp; BR()) &amp;
IF({!PatientHasPostalCode}, &quot;&quot;, {!$Label.ASPN_PatientZipCode} &amp; BR()) &amp;
IF({!PatientHasDOB}, &quot;&quot;, {!$Label.ASPN_PatientDOB} &amp; BR()) &amp;
IF({!PatientHasDiabetesType}, &quot;&quot;, {!$Label.ASPN_PatientTypeofDiabetes} &amp; BR()) &amp;
IF({!DoctorHasFirstName}, &quot;&quot;,{!$Label.ASPN_DoctorFirstName} &amp; BR()) &amp;
IF({!DoctorHasLastName}, &quot;&quot;,{!$Label.ASPN_DoctorLastName} &amp; BR()) &amp;
IF({!DoctorHasStreetName}, &quot;&quot;,{!$Label.ASPN_DoctorBillingStreet} &amp; BR()) &amp;
IF({!DoctorHasCityName}, &quot;&quot;,{!$Label.ASPN_DoctorBillingCity} &amp; BR()) &amp;
IF({!DoctorHasStateName}, &quot;&quot;,{!$Label.ASPN_DoctorBillingState} &amp; BR()) &amp;
IF({!DoctorHasPostalCode}, &quot;&quot;, {!$Label.ASPN_DoctorZipCode} &amp; BR()) &amp;
IF({!DoctorHasPhone}, &quot;&quot;,{!$Label.ASPN_DoctorPhone} &amp; BR()) &amp;
IF({!DoctorHasNPI}, &quot;&quot;,{!$Label.ASPN_DoctorNPI} &amp; BR()) &amp;
IF({!PatientHasTransactionalEmailConsent}, &quot;&quot;, {!$Label.ASPN_PatientTransactionalEmailConsent} &amp; BR())</expression>
    </formulas>
    <formulas>
        <name>TodayPlusThirtyDays</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Send to ASPN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send to ASPN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Product_Record</name>
        <label>Create Opportunity Product Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Opportunity_Product_Create_Error_Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_Entry_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Related_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pricebook_Entry_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_Create_Error_Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Opportunity_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_NCS_Opportunity_Recordtype_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Checking if the Account Record has Related Open Opportunities.</description>
        <name>Checking_Open_Opportunities</name>
        <label>Checking Open Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Open_Opportunity_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_0_Pricebook_ID</name>
        <label>Get $0 Pricebook ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Primary_Price_Book_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NCS_Opportunity_Recordtype_Id</name>
        <label>Get NCS Opportunity Recordtype Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.NCS_Opportunity_Record_Type_Developer_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry_Record</name>
        <label>Get Pricebook Entry Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Product_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_0_Pricebook_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_ACR</name>
        <label>Get Related ACR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Identifier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient - Practice Affiliation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_CCR</name>
        <label>Get Related CCR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PartyRoleRelationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Patient_Provider_Party_Role_Relation_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact_Point_Type_Consent</name>
        <label>Get Related Contact Point Type Consent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PreRequisite_Data_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.PersonIndividualId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transactional Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>PrivacyConsentStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointTypeConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Identifier</name>
        <label>Get Related Identifier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Contact_Point_Type_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_CCR.RelatedContact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IdUsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Identifier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_ContactPointAddress</name>
        <label>Get Related Patient ContactPointAddress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Patient_Provider_Party_Role_Relation_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_ContactPointPhone</name>
        <label>Get Related Patient ContactPointPhone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Patient_ContactPointAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactPointPhone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Product</name>
        <label>Get Related Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NCS_Opportunity_Recordtype_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Patient_Provider_Party_Role_Relation_Id</name>
        <label>Get the Patient Provider Party Role Relation Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_CCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRoleName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartyRoleRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Opportunity_Create_Error_Rollback</name>
        <label>Opportunity Create Error Rollback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opportunity_Record_Error_Log</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Opportunity_Product_Create_Error_Rollback</name>
        <label>Opportunity Product Create Error Rollback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opportunity_Product_Record_Error_Log</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Patient_Update_Error_Rollback</name>
        <label>Patient Update Error Rollback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Patient_Record_Error_Log</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Patient_Record</name>
        <label>Update Patient Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_0_Pricebook_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Patient_Update_Error_Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sensor_CGM_Continuous_Glucose_Monitor__c</field>
            <value>
                <elementReference>Continuous_Glucose_Monitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Diabetes__c</field>
            <value>
                <elementReference>Type_of_Diabetes</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Screen to display message that the patient has related open opportunities.</description>
        <name>Has_Open_Opportunities_Screen</name>
        <label>Has Open Opportunities Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Proceed_sending_to_ASPN_Choice</targetReference>
        </connector>
        <fields>
            <name>Has_Open_Opportunities_Screen_Text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: medium;&quot;&gt;{!ExistingOpenOpportunitiesMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proceed_Sending_to_ASPN</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Yes</defaultSelectedChoiceReference>
            <fieldText>Do you want to proceed sending to ASPN?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Create_Error_Screen</name>
        <label>Opportunity Create Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opportunity_Create_Error_Text</name>
            <fieldText>&lt;p&gt;{!$Label.ASPN_ErrorCreatingOpportunity}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen displays the form that creates the Opportunity related to the Patient.</description>
        <name>Opportunity_Creation</name>
        <label>Opportunity Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Patient_Need_Update</targetReference>
        </connector>
        <fields>
            <name>Related_Product</name>
            <choiceReferences>Choice1_DASH</choiceReferences>
            <choiceReferences>Choice2_Omnipod5Dexcom</choiceReferences>
            <choiceReferences>Choice3_Omnipod5Libre</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice1_DASH</defaultSelectedChoiceReference>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultOpportunityName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>OpportunityStageNamePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Qualification</stringValue>
            </defaultValue>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayPlusThirtyDays</elementReference>
            </defaultValue>
            <fieldText>Opportunity Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type_of_Diabetes</name>
            <choiceReferences>TypeOfDiabetesPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Type_of_Diabetes__c</elementReference>
            </defaultValue>
            <fieldText>Type of Diabetes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Continuous_Glucose_Monitor</name>
            <choiceReferences>CGMPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Sensor_CGM_Continuous_Glucose_Monitor__c</elementReference>
            </defaultValue>
            <fieldText>Continuous Glucose Monitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>recordId.Date_of_Birth__c</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;{!DateOfBirthErrorMessageFormula}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DateOfBirthValidationFormula}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Product_Create_Error_Screen</name>
        <label>Opportunity Product Create Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opportunity_Product_Create_Error_Text</name>
            <fieldText>&lt;p&gt;{!$Label.ASPN_ErrorOpportunityProduct}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Patient_Update_Error_Screen</name>
        <label>Patient Update Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Patient_Update_Error_Text</name>
            <fieldText>&lt;p&gt;{!$Label.ASPN_ErrorUpdatingPatientRecord}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreRequisite_Data_Check_Failed_Screen</name>
        <label>PreRequisite Data Check Failed Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PreRequisiteDataCheckFailedErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!PreRequisiteDataCheckFailedErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Patient_ContactPointPhone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Patient Record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
