force-app/main/default/flows/Set_Primary_and_Current_Product_On_Parent_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Product_ID</name>
        <label>Assign Current Product ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Current_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggeringRecord.Product2Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Primary_Product_ID</name>
        <label>Assign Primary Product ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParentOppRecord.Primary_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggeringRecord.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_Description</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Parent_Opportunity</name>
        <label>Check Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Product_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Opp Primary Not Null</defaultConnectorLabel>
        <rules>
            <name>Parent_Opp_Primary_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeringRecord.Opportunity.Primary_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Product_ID</targetReference>
            </connector>
            <label>Parent Opp Primary Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Description</name>
        <label>Check Product Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Product_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Description Not POD</defaultConnectorLabel>
        <rules>
            <name>Product_Description_is_POD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProductDescriptionBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TriggeringRecord.Product2.Description</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Product Description is POD or BLANK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ProductDescriptionBoolean</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!TriggeringRecord.Product2Id})),
NOT(ISBLANK({!TriggeringRecord.Product2.Description})),
CONTAINS(LOWER({!TriggeringRecord.Product2.Description}), &quot;pod&quot;)
)</expression>
    </formulas>
    <interviewLabel>Set Primary and Current Product On Parent Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Primary and Current Product On Parent Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Parent_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TriggeringRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
