force-app/main/default/flows/Task_Before_Save_Set_Default_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Task_Fields</name>
        <label>Update Task Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Status</name>
        <label>Update Task Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>serviceActivityRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Service_Activities</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Used to check task due date is null or not.</description>
        <name>Check_Task_Due_Date</name>
        <label>Check Task Due Date?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Task_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Fields</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the Task record type is Service Activities or not.</description>
        <name>Check_Task_Record_Type</name>
        <label>Check Task Record Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Is Not A Service Activities</defaultConnectorLabel>
        <rules>
            <name>Is_Service_Activities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>serviceActivityRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Right to be Forgotten</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Task_Due_Date</targetReference>
            </connector>
            <label>Is Service Activities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Bypass</name>
        <label>Flow Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Task_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bypassed</defaultConnectorLabel>
        <rules>
            <name>Bypassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_Flows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypassed</label>
        </rules>
    </decisions>
    <description>This flow used to set the default values of task fields prior to task creation or modification.</description>
    <environments>Default</environments>
    <interviewLabel>Task : Before Save - Set Default Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task : Before Save - Set Default Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Bypass</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
